﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PaymentRequest.aspx.cs" Inherits="PaymentWallTest.PaymentRequest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>

    <iframe id="wallapiIframe" runat="server" width="750" height="600"></iframe>
      <%--<iframe src="https://wallapi.com/api/subscription/?key=9e643f3e4e9b2869ae7d6f18b63fdd49&uid=[USER_ID]&widget=p1_1" width="750" height="800" frameborder="0"></iframe>--%>
</body>
</html>
